

<div class="container">



  <div class="table-fixed" style="width: 100%">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cust Id</th>
          <th>Cust Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>No.Of Policies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
              <td>1</td>
              <td>Akanksha</td>
              <td>7030005255</td>
              <td>akshu@gmail.com</td>
              <td>10</td>

              <td>
              <button type="button" class="btn btn-primary">show details</button>
              </td>

            </tr>
            <tr>
                <td>2</td>
                <td>Kalyani</td>
                <td>9822706329  </td>
                <td>kal@gmail.com</td>
                <td>5</td>

                <td>
                <button type="button" class="btn btn-primary">show details</button>
                </td>

              </tr>
              <tr>
                  <td>3</td>
                  <td>Sanket</td>
                  <td>7043158469  </td>
                  <td>sanky@gmail.com</td>
                  <td>22</td>

                  <td>
                  <button type="button" class="btn btn-primary">show details</button>
                  </td>

                </tr>


      </tbody>
    </table>
  </div>
  </div>


