
<div class="container">
  <a href="http://www.licindia.in/Products/Insurance-Plan/Jeevan-Labh">
  <img src="/assets/lic-jeevan-labh.png" alt="lic_Jeevan_Saral" style="border-radius:10px;">
</a>

<br><br><br>
<a href="http://www.licindia.in/Products/Insurance-Plan/anand">
<img src="/assets/lic-new-jeevan-anand-plan-1704277.jpg" alt="lic_Jeevan_Saral" style="border-radius:10px;">
</a>
<br><br><br>
<a href="http://www.licindia.in/Products/Insurance-Plan/jeevan-lakshya">
<img src="/assets/jeevan-lakshya.jpg" alt="lic_Jeevan_Saral" style="border-radius:10px;">
</a>
<br><br><br>



  <a href="http://www.licindia.in/Products/Insurance-Plan/LICs-Jeevan-Umang">
    <img src="/assets/jeevan umang.jpg" alt="lic_Jeevan_Saral" style="border-radius:10px;height: 600px;width: 700px;">
    </a>
    <br><br><br>

    <a href="http://www.licindia.in/Products/Insurance-Plan/jeevan-tarun">
      <img src="/assets/LIC-Jeevan-Tarun-plan-834-1024x576.jpg" alt="lic_Jeevan_Saral" style="border-radius:10px;height: 600px;width: 800px;">
      </a>
      <br><br><br>

      <a href="http://www.licindia.in/Products/Insurance-Plan/jeevan-anmol">
        <img src="/assets/jeevan anmol.jpg" alt="lic_Jeevan_Saral" style="border-radius:10px;height: 700px;width: 600px;">
        </a>
        <br><br><br>
</div>

