
<div class="container">

  <form #myForm="ngForm" (ngSubmit)="add(myForm)" role="form">
    <div class="form-group">
      <label for="name">Email:</label>
      <input type="name" ngModel class="form-control" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" ngModel class="form-control" placeholder="Enter password" name="password">
    </div>
    <div class="form-group">
      <label for="npassword">New Password:</label>
      <input type="npassword" ngModel class="form-control" placeholder="Enter new password" name="npassword">
    </div>


    <button type="submit" class="btn btn-primary">Update</button>


    <button type="submit" class="btn btn-danger">Cancel</button>
  </form>
</div>

