

<div class="container">



  <div class="table-fixed" style="width: 100%">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Agent Id</th>
          <th>Agent Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>No.Of Customers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
              <td>1</td>
              <td>Rajendra</td>
              <td>9423258071</td>
              <td>rajendra@gmail.com</td>
              <td>1000</td>

              <td>
              <button type="button" class="btn btn-primary">show details</button>
              </td>

            </tr>
            <tr>
                <td>2</td>
                <td>Sangita</td>
                <td>7863154920  </td>
                <td>sangita@gmail.com</td>
                <td>1100</td>

                <td>
                <button type="button" class="btn btn-primary">show details</button>
                </td>

              </tr>
              <tr>
                  <td>3</td>
                  <td>Sanket</td>
                  <td>7043158469  </td>
                  <td>sanky@gmail.com</td>
                  <td>22</td>

                  <td>
                  <button type="button" class="btn btn-primary">show details</button>
                  </td>

                </tr>


      </tbody>
    </table>
  </div>
  </div>


