
<ul class="nav navbar-nav" style="background-color:cornsilk;">
  <li class="active">
    <img src="/assets/images/HandLogo.png"   class="img-responsive" alt="mainLogo" style="height:100px;width:100px; margin-left: 10px;margin-top: 10px;">
</li>

<li style="margin-left: 350px ;margin-top: 10px;">
<h1>  LIC's CLIA PORTAL</h1>
</li>


<li class="active" style="margin-top: 25px; margin-left:115px;">
  <a routerLink="/clia"><span class="glyphicon glyphicon-user"></span>
    CLIA Login</a>



</li>

<li class="active" style="margin-top: 25px;margin-left: px;">
<a routerLink="/agent-login"><span class="glyphicon glyphicon-user"></span>Agent Login </a>
</li>

<li class="active" style="margin-top: 25px;margin-left:px;">
<a routerLink="/polHolder-login"><span class="glyphicon glyphicon-user"></span>Policy Holder Login </a>
</li>


 </ul>

 <br>

<div class="container">
    <router-outlet></router-outlet>
</div>
